<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Full Stack Flask and CSS Essential Training Lynda.com Tutorial</title>
	<link rel="stylesheet" href="/static/css2/style2.css">
</head>
<body>
	<main>
	
	<!-- ****** About /Profile ***** -->
		<header>
		<h1>Jean Strongarm</h1>
		<h2>css webstyle - tagline h2</h2>
		<p>Using Git from Eclipse.  make sure to make a .gitignore file in notepad
			put config.py in the ignore and make sure passwords are in here and NOT in main files		
		</p>
		<p>can i push to github? </p>
		</header>
		
	<!-- *** projects/portfolio -->
	<section class="projects">
	
	  <div class="content-wrap">
		<h2>Featured projects</h2>
		<p>Can view some projects here.  Also there is an html link to find more information.
		I don't know what to put for the link so it isn't here yet. 
		something like <a href="http://google.com">this goes to google</a>
		</p>
		
		<!-- **** copy the who <section> block to add more projects -->	
			<section>
				<h3>project 1 name</h3>
				<img src="static/images2/roe.png" alt="description of image">
				<p> there is an img tag above this need to make a file for this.  </p>
				<p>the href tag has # target blank ... hope we learn about this</p>
				<a class="btn" href=#" target="_blank">View project/case study</a>"
			</section>
			
			<section>
				<h3>project 2 name</h3>
				<img src="/static/images2/Eden2.png" alt="300pixes wide Eden map">
				<p> there is an img tag above this need to make a file for this.  </p>
				<p>the href tag has # target blank ... hope we learn about this</p>
				<a class="btn" href=#" target="_blank">View project/case study</a>
			</section>	
			</div>
	</section>	
	
	<!-- ***** work experience **** -->
	<section class="work">
	  <div class="content-wrap">
		<h2>Work Experience</h2>
		<p> Paragraph of work experienc. This is in a new section and it appears that you can have
		many sections inside of a section. </p>
		
		<!-- **** copy the who <section> block to add more jobs -->	
		<section class="job-item">
			<div class="job-details">
			<h3>job </h3>
			<p>title at job</p>
			<p>date of employment</p>
			</div>
			<div class="job-summary">
			<p> there was an img tag above this need to make a file for this.  </p>
			<p>the href tag has # target blank ... hope we learn about this</p>
			<a href=#" target="_blank">employment somekind of link</a> 
			<p>the blank opens the link in a new window.  the jobs are going to be in a grid container.  </p>
			</div>
		</section>
		
		<section class="job-item">
			<div class="job-details">
				<h3>job2 with a much longer job title </h3>
				<p>title at job</p>
				<p>date of employment</p>
			</div>
			<div class="job-summary">
			<p> there was an img tag above this need to make a file for this.  </p>
			<p>the href tag has # target blank ... hope we learn about this</p>
			<a href=#" target="_blank">link somewhere good instead of top of doc</a> 
			<p>the blank opens the link in a new window.  the jobs are going to be in a grid container.  </p>
			</div>
		</section>
		
		<section class="job-item">
			<div class="job-details">
				<h3>job3 job title </h3>
				<p>title at job</p>
				<p>date of employment</p>
			</div>
			<div class="job-summary">
			<p>WEll, Similar to flexbox, the grid container is the parent element. The direct child elements are the grid items. Grid can be used with two values, grid or inline-grid, to designate the child elements as grid items which will display in a single column. When using the value of grid, unless specified, the items will span the width of its container. When using the value of inline-grid, the items will span the width of its content. When using the value of grid, the container will be displayed as block-level element and stacked on top of other block element. When using the value of inline-grid, the whole container will display inline next to other inline containers. Grid lines are the horizontal and vertical lines that divide the grid into columns and rows.  </p>
			</div>
		</section>
		
		
		</div>
	</section>
	
	
	<!--  *** contact info*** -->
	<footer>
		<div class="content-wrap">
			<h2>my footer, not sure it is in the right place</h3>
			<ul class="contact-list">
				<li><a href="mailto:bjarmstr@yahoo.com">email me</a></li>
				<li><a href="http://www.lynda.com">lynda.com</a></li>
				<li><a href="http://roots2stem.com">roots2stem</a></li>
				<li><a href="http://yahoo.com">yahoo</a></li>
			</ul>
		</div>
	</footer>
	</main>
	


</body>
</html>